extends template/template.pug 

block head_styles
  link(rel='stylesheet' href='/styles/global.css')
  link(rel='stylesheet' href='/styles/index.css')

block content
  section.container
    // Offer
    section.offer
      h2 #{no_offers_text}
      - let new_offers = offers // Inaczej nie dziala
      each offer, idx in new_offers
        article 
          img.main-image(src='/img/mountain.jpg' alt='Mountain')
          .spacer
          div
            a(href=`/trip-description/${offer.id}`)
              h2 #{offer.nazwa}
            p #{offer.krotki_opis}
            div
              p= `Cena: ${offer.cena}`
              p= `Data: ${offer.data_poczatku}`
              a(href=`/booking/${offer.id}`) Zarezerwuj &gt;&gt;
    .spacer
    // Sidebar
    section.sidebar
      section.promotions-bar
        h2 Promocje
        .promotions
          div
            h4 G&oacute;ry wysokie
            |             1-13 lutego 
            br
            br
            a(href='/booking') Zarezerwuj &gt;&gt;
          div
            h4 G&oacute;ry wysokie
            |             1-13 lutego 
            br
            br
            a(href='/booking') Zarezerwuj &gt;&gt;
          div
            h4 G&oacute;ry wysokie
            |             1-13 lutego 
            br
            br
            a(href='/booking') Zarezerwuj &gt;&gt;
      section.tips
        h2 Porady
        div
          | Co zabra&cacute; na wycieczke?
        div
          | Co zabra&cacute; na wycieczke?
        div
          | Co zabra&cacute; na wycieczke?