extends template/template.pug 

block head_styles
  link(rel='stylesheet' href='/styles/global.css')
  link(rel='stylesheet' href='/styles/trip_description.css')

block content
  section.container
    // Main description
    section
      figure
        img.mountain-img(src='/img/mountain.jpg' alt='Mountains')
      section.description
        article
          h3(style='color:green') #{success_msg}
          h1 #{offer.nazwa}
          p #{offer.krotki_opis}
        article
          h2 Jeszcze jeden nag&lstrok;&oacute;wek
          p #{offer.opis}
    // Detailed info
    section
      article
        h2 Istotne informacje
        ul.dashed
          li= `Data początku: ${offer.data_poczatku}`
          li= `Data początku: ${offer.data_konca}`
          li= `Cena wynosi ${offer.cena}`
          li= `Ilość miejsc: ${offer.dostepne_miejsca}`
    section.button-bar
      a(href='/')
        .button &lt; Powr&oacute;t
      a(href=`/booking/${offer.id}`)
        .button Zarezerwuj &gt;