---
import PageLayout from "@/layouts/BaseLayout.astro"
import Button from "@/components/Button.astro"
import ProjectCard from "@/components/ProjectCard.astro"
import type { Project, SiteMeta } from "@/types"

// Images
import profileImg from "@/assets/profile.png"
import { SKILLS } from "src/constants"

const meta: SiteMeta = {
  title: "Projects",
  description: "Projects I've worked on",
}

const projects: Project[] = [
  {
    title: "Consectetur",
    description: "Lorem ipsum dolor sit amet consectetur adipisicing elit.",
    image: profileImg,
    href: "https://www.google.com",
    skills: [SKILLS["react"], SKILLS["typescript"], SKILLS["tailwind"], ],
  },
  {
    title: "Coming soon...",
    description: "",
    image: profileImg,
    href: "/",
    skills: [],
  },
]
---

<PageLayout meta={meta}>
  <div class="w-full">
    <Button title="Back" href="/" style="button">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        viewBox="0 0 24 24"
        slot="icon-before"
      >
        <path
          fill="currentColor"
          d="m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z"
        >
        </path>
      </svg>
    </Button>

    <div class="mt-10 flex w-full flex-col gap-y-10">
        <h1 class="mb-1 text-2xl font-bold">Projects</h1>
        <div class="flex flex-col gap-y-3 sm:flex-row sm:gap-x-3 sm:gap-y-0">
          {projects.map((project) => (
            <ProjectCard
              href={project.href}
              heading={project.title}
              subheading={project.description}
              image={project.image}
              altText={project.title}
              skills={project.skills}
              class="w-full sm:w-1/2"
            />
          ))}
        </div>
      </div>
  </div>
</PageLayout>
